<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Automation in NodeJS, AngularJS and Docker</h1>
        </div>

        <p class="lead">
            This application provides a small restful api for storing automation commands in NodeJS, AngularJS and
            Docker.
        </p>

        <p class="btn btn-group">
            <a href="/#!/register" class="btn btn-success">Register new command</a>
      
            <a href="/#!/show-list" class="btn btn-primary">Show lists by commands</a>
        </p>
    </div>
</div>