<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>New Command <small><a href="/#!/" class="btn btn-default btn-xs">Home</a></small></h1>
        </div>

        <p class="lead">
            Fill in the command data in the fields below:
        </p>

        <p ng-show="showAlert" class="alert" ng-class="{'alert-success': isSuccess , 'alert-danger':isDanger}">
            {{ message }}
        </p>

        <form novalidate autocomplete="off" class="form" name="frmCommand" ng-submit="save(frmCommand)">
            <div class="form-group">
                <label for="cmd" class="hidden">cmd</label>
                <input placeholder="Fill your command here!" type="text" class="form-control" ng-model="data.cmd"
                    name="cmd" id="cmd" ng-class="{invalid: frmCommand.cmd.$dirty && frmCommand.cmd.$invalid, 
                              pristine: frmCommand.cmd.$pristine && frmCommand.$invalid,
                              valid: frmCommand.cmd.$dirty && frmCommand.cmd.$valid  
                            }" required />
                <div ng-show="frmCommand.cmd.$dirty && frmCommand.cmd.$invalid" class="help-block">This field is
                    required</div>
            </div>
            <div class="form-group">
                <label for="description" class="hidden">description</label>
                <textarea rows="10" placeholder="Fill a description to you command here!" class="form-control"
                    ng-model="data.description" name="description" id="description" ng-class="{invalid: frmCommand.description.$dirty && frmCommand.description.$invalid, 
                              pristine: frmCommand.description.$pristine && frmCommand.$invalid,
                              valid: frmCommand.description.$dirty && frmCommand.description.$valid  
                            }" required />
                <div ng-show="frmCommand.description.$dirty && frmCommand.description.$invalid" class="help-block">This field is
                    required</div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="frmCommand.$invalid"> SAVE </button>
        </form>
    </div>
</div>